openapi: 3.1.0
info:
  contact:
    email: ""
    name: ""
    url: ""
  description: Ms User API documentation
  license:
    name: unlicensed
    url: ""
  termsOfService: ""
  title: Ms User API
  version: 0.0.1
servers:
- description: Generated server url
  url: https://apigateway.phungvip.io.vn/services/msuser
tags:
- description: AI Chatbot API for RideHub
  name: Chatbot
paths:
  /api/user-statistics/{id}:
    delete:
      operationId: deleteUserStatistics
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - user-statistics-resource
      x-accepts:
      - application/json
    get:
      operationId: getUserStatistics
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserStatisticsDTO"
          description: OK
      tags:
      - user-statistics-resource
      x-accepts:
      - '*/*'
    patch:
      operationId: partialUpdateUserStatistics
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserStatisticsDTO"
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/UserStatisticsDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserStatisticsDTO"
          description: OK
      tags:
      - user-statistics-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      operationId: updateUserStatistics
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserStatisticsDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserStatisticsDTO"
          description: OK
      tags:
      - user-statistics-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/user-queries/{id}:
    delete:
      operationId: deleteUserQuery
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - user-query-resource
      x-accepts:
      - application/json
    get:
      operationId: getUserQuery
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserQueryDTO"
          description: OK
      tags:
      - user-query-resource
      x-accepts:
      - '*/*'
    patch:
      operationId: partialUpdateUserQuery
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserQueryDTO"
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/UserQueryDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserQueryDTO"
          description: OK
      tags:
      - user-query-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      operationId: updateUserQuery
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserQueryDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserQueryDTO"
          description: OK
      tags:
      - user-query-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/trip-statistics/{id}:
    delete:
      operationId: deleteTripStatistics
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - trip-statistics-resource
      x-accepts:
      - application/json
    get:
      operationId: getTripStatistics
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TripStatisticsDTO"
          description: OK
      tags:
      - trip-statistics-resource
      x-accepts:
      - '*/*'
    patch:
      operationId: partialUpdateTripStatistics
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TripStatisticsDTO"
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/TripStatisticsDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TripStatisticsDTO"
          description: OK
      tags:
      - trip-statistics-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      operationId: updateTripStatistics
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TripStatisticsDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TripStatisticsDTO"
          description: OK
      tags:
      - trip-statistics-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/trip-recommendations/{id}:
    delete:
      operationId: deleteTripRecommendation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - trip-recommendation-resource
      x-accepts:
      - application/json
    get:
      operationId: getTripRecommendation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TripRecommendationDTO"
          description: OK
      tags:
      - trip-recommendation-resource
      x-accepts:
      - '*/*'
    patch:
      operationId: partialUpdateTripRecommendation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TripRecommendationDTO"
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/TripRecommendationDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TripRecommendationDTO"
          description: OK
      tags:
      - trip-recommendation-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      operationId: updateTripRecommendation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TripRecommendationDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TripRecommendationDTO"
          description: OK
      tags:
      - trip-recommendation-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/profiles/{id}:
    delete:
      operationId: deleteProfile
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - profile-resource
      x-accepts:
      - application/json
    get:
      operationId: getProfile
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProfileDTO"
          description: OK
      tags:
      - profile-resource
      x-accepts:
      - '*/*'
    patch:
      operationId: partialUpdateProfile
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileDTO"
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/ProfileDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProfileDTO"
          description: OK
      tags:
      - profile-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      operationId: updateProfile
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProfileDTO"
          description: OK
      tags:
      - profile-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/file-users/{id}:
    delete:
      operationId: deleteFileUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - file-user-resource
      x-accepts:
      - application/json
    get:
      operationId: getFileUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FileUserDTO"
          description: OK
      tags:
      - file-user-resource
      x-accepts:
      - '*/*'
    patch:
      operationId: partialUpdateFileUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileUserDTO"
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/FileUserDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FileUserDTO"
          description: OK
      tags:
      - file-user-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      operationId: updateFileUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileUserDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FileUserDTO"
          description: OK
      tags:
      - file-user-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/chat-sessions/{id}:
    delete:
      operationId: deleteChatSession
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - chat-session-resource
      x-accepts:
      - application/json
    get:
      operationId: getChatSession
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatSessionDTO"
          description: OK
      tags:
      - chat-session-resource
      x-accepts:
      - '*/*'
    patch:
      operationId: partialUpdateChatSession
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatSessionDTO"
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/ChatSessionDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatSessionDTO"
          description: OK
      tags:
      - chat-session-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      operationId: updateChatSession
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatSessionDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatSessionDTO"
          description: OK
      tags:
      - chat-session-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/chat-messages/{id}:
    delete:
      operationId: deleteChatMessage
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - chat-message-resource
      x-accepts:
      - application/json
    get:
      operationId: getChatMessage
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatMessageDTO"
          description: OK
      tags:
      - chat-message-resource
      x-accepts:
      - '*/*'
    patch:
      operationId: partialUpdateChatMessage
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatMessageDTO"
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/ChatMessageDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatMessageDTO"
          description: OK
      tags:
      - chat-message-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      operationId: updateChatMessage
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatMessageDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ChatMessageDTO"
          description: OK
      tags:
      - chat-message-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/auth/{keycloak_id}:
    put:
      operationId: updateDetails
      parameters:
      - explode: false
        in: path
        name: keycloak_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminUpdateUserRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      tags:
      - auth-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/auth/{keycloak_id}/password:
    put:
      operationId: updatePassword
      parameters:
      - explode: false
        in: path
        name: keycloak_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminUpdatePasswordRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      tags:
      - auth-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/auth/profile:
    put:
      operationId: updateProfile_1
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
          description: OK
      tags:
      - auth-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/app-users/{id}:
    delete:
      operationId: deleteAppUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - app-user-resource
      x-accepts:
      - application/json
    get:
      operationId: getAppUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AppUserDTO"
          description: OK
      tags:
      - app-user-resource
      x-accepts:
      - '*/*'
    patch:
      operationId: partialUpdateAppUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppUserDTO"
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/AppUserDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AppUserDTO"
          description: OK
      tags:
      - app-user-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      operationId: updateAppUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppUserDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AppUserDTO"
          description: OK
      tags:
      - app-user-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/app-users/{id}/disable:
    put:
      operationId: disableAppUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
          description: OK
      tags:
      - app-user-resource
      x-accepts:
      - '*/*'
  /api/user-statistics:
    get:
      operationId: getAllUserStatistics
      parameters:
      - explode: true
        in: query
        name: id.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: id.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: id.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: totalTrips.greaterThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: totalTrips.lessThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: totalTrips.greaterThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: totalTrips.lessThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: totalTrips.equals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: totalTrips.notEquals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: totalTrips.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: totalTrips.in
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: totalTrips.notIn
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: totalSpent.greaterThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: totalSpent.lessThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: totalSpent.greaterThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: totalSpent.lessThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: totalSpent.equals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: totalSpent.notEquals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: totalSpent.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: totalSpent.in
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: totalSpent.notIn
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: favoriteRoutes.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: favoriteRoutes.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: favoriteRoutes.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: favoriteRoutes.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: favoriteRoutes.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: favoriteRoutes.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: favoriteRoutes.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: preferredVehicleTypes.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredVehicleTypes.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredVehicleTypes.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredVehicleTypes.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredVehicleTypes.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: preferredVehicleTypes.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: preferredVehicleTypes.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: averageTripDuration.greaterThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: averageTripDuration.lessThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: averageTripDuration.greaterThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: averageTripDuration.lessThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: averageTripDuration.equals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: averageTripDuration.notEquals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: averageTripDuration.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: averageTripDuration.in
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: averageTripDuration.notIn
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: lastTravelDate.greaterThan
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: lastTravelDate.lessThan
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: lastTravelDate.greaterThanOrEqual
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: lastTravelDate.lessThanOrEqual
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: lastTravelDate.equals
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: lastTravelDate.notEquals
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: lastTravelDate.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: lastTravelDate.in
        required: false
        schema:
          items:
            format: date
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: lastTravelDate.notIn
        required: false
        schema:
          items:
            format: date
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: bookingFrequency.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: bookingFrequency.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: bookingFrequency.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: bookingFrequency.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: bookingFrequency.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: bookingFrequency.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: bookingFrequency.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: loyaltyPoints.greaterThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: loyaltyPoints.lessThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: loyaltyPoints.greaterThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: loyaltyPoints.lessThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: loyaltyPoints.equals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: loyaltyPoints.notEquals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: loyaltyPoints.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: loyaltyPoints.in
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: loyaltyPoints.notIn
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: mostFrequentOrigin.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: mostFrequentOrigin.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: mostFrequentOrigin.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: mostFrequentOrigin.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: mostFrequentOrigin.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: mostFrequentOrigin.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: mostFrequentOrigin.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: mostFrequentDestination.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: mostFrequentDestination.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: mostFrequentDestination.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: mostFrequentDestination.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: mostFrequentDestination.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: mostFrequentDestination.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: mostFrequentDestination.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: averageTripDistance.greaterThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: averageTripDistance.lessThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: averageTripDistance.greaterThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: averageTripDistance.lessThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: averageTripDistance.equals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: averageTripDistance.notEquals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: averageTripDistance.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: averageTripDistance.in
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: averageTripDistance.notIn
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: peakTravelTime.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: peakTravelTime.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: peakTravelTime.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: peakTravelTime.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: peakTravelTime.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: peakTravelTime.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: peakTravelTime.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: weekendTrips.greaterThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: weekendTrips.lessThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: weekendTrips.greaterThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: weekendTrips.lessThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: weekendTrips.equals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: weekendTrips.notEquals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: weekendTrips.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: weekendTrips.in
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: weekendTrips.notIn
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: holidayTrips.greaterThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: holidayTrips.lessThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: holidayTrips.greaterThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: holidayTrips.lessThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: holidayTrips.equals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: holidayTrips.notEquals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: holidayTrips.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: holidayTrips.in
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: holidayTrips.notIn
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: cancelledTrips.greaterThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: cancelledTrips.lessThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: cancelledTrips.greaterThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: cancelledTrips.lessThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: cancelledTrips.equals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: cancelledTrips.notEquals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: cancelledTrips.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: cancelledTrips.in
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: cancelledTrips.notIn
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: onTimePerformanceRate.greaterThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: onTimePerformanceRate.lessThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: onTimePerformanceRate.greaterThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: onTimePerformanceRate.lessThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: onTimePerformanceRate.equals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: onTimePerformanceRate.notEquals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: onTimePerformanceRate.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: onTimePerformanceRate.in
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: onTimePerformanceRate.notIn
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: preferredSeatTypes.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredSeatTypes.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredSeatTypes.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredSeatTypes.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: preferredSeatTypes.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: preferredSeatTypes.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: preferredSeatTypes.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: monthlyTripCount.greaterThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: monthlyTripCount.lessThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: monthlyTripCount.greaterThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: monthlyTripCount.lessThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: monthlyTripCount.equals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: monthlyTripCount.notEquals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: monthlyTripCount.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: monthlyTripCount.in
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: monthlyTripCount.notIn
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: createdAt.greaterThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.lessThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.greaterThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.lessThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.equals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.notEquals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: createdAt.in
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: createdAt.notIn
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: updatedAt.greaterThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAt.lessThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAt.greaterThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAt.lessThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAt.equals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAt.notEquals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAt.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: updatedAt.in
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: updatedAt.notIn
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: isDeleted.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isDeleted.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isDeleted.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isDeleted.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: isDeleted.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: deletedAt.greaterThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: deletedAt.lessThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: deletedAt.greaterThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: deletedAt.lessThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: deletedAt.equals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: deletedAt.notEquals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: deletedAt.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: deletedAt.in
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: deletedAt.notIn
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: deletedBy.equals
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: deletedBy.notEquals
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: deletedBy.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: deletedBy.in
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: deletedBy.notIn
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: userId.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: userId.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: userId.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: userId.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: userId.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: userId.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: userId.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: userId.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: userId.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: distinct
        required: false
        schema:
          type: boolean
        style: form
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          minimum: 1
          type: integer
        style: form
      - description: "Sorting criteria in the format: property,(asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/UserStatisticsDTO"
                type: array
          description: OK
      tags:
      - user-statistics-resource
      x-accepts:
      - '*/*'
    post:
      operationId: createUserStatistics
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserStatisticsDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserStatisticsDTO"
          description: OK
      tags:
      - user-statistics-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/user-queries:
    get:
      operationId: getAllUserQueries
      parameters:
      - explode: true
        in: query
        name: id.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: id.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: id.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: queryText.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: queryText.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: queryText.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: queryText.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: queryText.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: queryText.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: queryText.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: queryType.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: queryType.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: queryType.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: queryType.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: queryType.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: queryType.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: queryType.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: parameters.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parameters.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parameters.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parameters.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parameters.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: parameters.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: parameters.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: responseGenerated.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: responseGenerated.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: responseGenerated.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: responseGenerated.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: responseGenerated.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: responseTime.greaterThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: responseTime.lessThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: responseTime.greaterThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: responseTime.lessThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: responseTime.equals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: responseTime.notEquals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: responseTime.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: responseTime.in
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: responseTime.notIn
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: createdAt.greaterThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.lessThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.greaterThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.lessThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.equals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.notEquals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdAt.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: createdAt.in
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: createdAt.notIn
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: updatedAt.greaterThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAt.lessThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAt.greaterThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAt.lessThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAt.equals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAt.notEquals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: updatedAt.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: updatedAt.in
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: updatedAt.notIn
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: isDeleted.equals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isDeleted.notEquals
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isDeleted.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: isDeleted.in
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: isDeleted.notIn
        required: false
        schema:
          items:
            type: boolean
          type: array
        style: form
      - explode: true
        in: query
        name: deletedAt.greaterThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: deletedAt.lessThan
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: deletedAt.greaterThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: deletedAt.lessThanOrEqual
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: deletedAt.equals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: deletedAt.notEquals
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: deletedAt.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: deletedAt.in
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: deletedAt.notIn
        required: false
        schema:
          items:
            format: date-time
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: deletedBy.equals
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: deletedBy.notEquals
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: deletedBy.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: deletedBy.in
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: deletedBy.notIn
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: chatSessionId.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: chatSessionId.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: chatSessionId.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: chatSessionId.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: chatSessionId.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: chatSessionId.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: chatSessionId.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: chatSessionId.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: chatSessionId.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: distinct
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/UserQueryDTO"
                type: array
          description: OK
      tags:
      - user-query-resource
      x-accepts:
      - '*/*'
    post:
      operationId: createUserQuery
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserQueryDTO"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserQueryDTO"
          description: OK
      tags:
      - user-query-resource
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /api/trip-statistics:
    get:
      operationId: getAllTripStatistics
      parameters:
      - explode: true
        in: query
        name: id.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: id.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: id.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: id.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: routeId.greaterThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: routeId.lessThan
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: routeId.greaterThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: routeId.lessThanOrEqual
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: routeId.equals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: routeId.notEquals
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: routeId.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: routeId.in
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: routeId.notIn
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: vehicleType.equals
        required: false
        schema:
          enum:
          - STANDARD_BUS_VIP
          - STANDARD_BUS_NORMAL
          - LIMOUSINE
          type: string
        style: form
      - explode: true
        in: query
        name: vehicleType.notEquals
        required: false
        schema:
          enum:
          - STANDARD_BUS_VIP
          - STANDARD_BUS_NORMAL
          - LIMOUSINE
          type: string
        style: form
      - explode: true
        in: query
        name: vehicleType.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: vehicleType.in
        required: false
        schema:
          items:
            enum:
            - STANDARD_BUS_VIP
            - STANDARD_BUS_NORMAL
            - LIMOUSINE
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: vehicleType.notIn
        required: false
        schema:
          items:
            enum:
            - STANDARD_BUS_VIP
            - STANDARD_BUS_NORMAL
            - LIMOUSINE
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: occasionType.equals
        required: false
        schema:
          enum:
          - NORMAL
          - WEEKEND
          - HOLIDAY
          - PEAK
          - OFF_PEAK
          - TET
          type: string
        style: form
      - explode: true
        in: query
        name: occasionType.notEquals
        required: false
        schema:
          enum:
          - NORMAL
          - WEEKEND
          - HOLIDAY
          - PEAK
          - OFF_PEAK
          - TET
          type: string
        style: form
      - explode: true
        in: query
        name: occasionType.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: occasionType.in
        required: false
        schema:
          items:
            enum:
            - NORMAL
            - WEEKEND
            - HOLIDAY
            - PEAK
            - OFF_PEAK
            - TET
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: occasionType.notIn
        required: false
        schema:
          items:
            enum:
            - NORMAL
            - WEEKEND
            - HOLIDAY
            - PEAK
            - OFF_PEAK
            - TET
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: totalBookings.greaterThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: totalBookings.lessThan
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: totalBookings.greaterThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: totalBookings.lessThanOrEqual
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: totalBookings.equals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: totalBookings.notEquals
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: totalBookings.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: totalBookings.in
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: totalBookings.notIn
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: totalRevenue.greaterThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: totalRevenue.lessThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: totalRevenue.greaterThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: totalRevenue.lessThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: totalRevenue.equals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: totalRevenue.notEquals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: totalRevenue.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: totalRevenue.in
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: totalRevenue.notIn
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: averagePrice.greaterThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: averagePrice.lessThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: averagePrice.greaterThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: averagePrice.lessThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: averagePrice.equals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: averagePrice.notEquals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: averagePrice.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: averagePrice.in
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: averagePrice.notIn
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: occupancyRate.greaterThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: occupancyRate.lessThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: occupancyRate.greaterThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: occupancyRate.lessThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: occupancyRate.equals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: occupancyRate.notEquals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: occupancyRate.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: occupancyRate.in
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: occupancyRate.notIn
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: popularSeatTypes.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: popularSeatTypes.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: popularSeatTypes.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: popularSeatTypes.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: popularSeatTypes.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: popularSeatTypes.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: popularSeatTypes.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: peakTravelTimes.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: peakTravelTimes.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: peakTravelTimes.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: peakTravelTimes.notEquals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: peakTravelTimes.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: peakTravelTimes.in
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: peakTravelTimes.notIn
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: cancellationRate.greaterThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: cancellationRate.lessThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: cancellationRate.greaterThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: cancellationRate.lessThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: cancellationRate.equals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: cancellationRate.notEquals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: cancellationRate.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: cancellationRate.in
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: cancellationRate.notIn
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: customerSatisfactionScore.greaterThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: customerSatisfactionScore.lessThan
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: customerSatisfactionScore.greaterThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: customerSatisfactionScore.lessThanOrEqual
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: customerSatisfactionScore.equals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: customerSatisfactionScore.notEquals
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: customerSatisfactionScore.specified
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: customerSatisfactionScore.in
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: customerSatisfactionScore.notIn
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      - explode: true
        in: query
        name: monthlyTrend.contains
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: monthlyTrend.doesNotContain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: monthlyTrend.equals
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: monthlyTrend.notEquals
        required: false
        schema:
[...]
